#index
  %section.blogs
    .text-centered
      %h2
        %a{:href => '/blog'} Wrote
      %a{:href => '/feed'}
        %img{:src => image_path('trex-rss.png') }
    %ul
      - @blog_posts.each do |post|
        %li.index-post
          #post-title
            %a{:href => "/#{post.slug}"} #{post.title}
  %section.reviews
    .text-centered
      %h2
        %a{:href => '/books'} Read
      %a{:href => '/books-feed'}
        %img{:src => image_path('trex-rss.png')}
    %ul
      - @book_reviews.each do |post|
        %li.index-post
          %a{:href => "/#{post.slug}"} #{post.title}
          %span.author  by #{post.author}

- content_for :header do
  %link{ :rel => "alternate", :type => "application/rss+xml", :title => "BHUGA WOOGA - feed", :href => "http://#{ENV['BASE_HOST']}/feeds/posts/default?alt=rss"}
