#blogs.grid_5.alpha
  %h3 Blog Posts
  %ul
    - @blog_posts.each do |post|
      %li.index-post
        #post-title
          %a{:href => "/#{post.slug}"} #{post.title}
#reviews.grid_4.omega
  %h3 Book Reviews
  %ul
    - @book_reviews.each do |post|
      %li.index-post
        %a{:href => "/#{post.slug}"} #{post.title}
        %span.author  by #{post.author}
