.grid_9.alpha
  %h2 #{@post.title}
  -if @post.meta.has_key?(:author)
    by #{@post.author}
    %br
    %br
  %span.post-date Originally from #{@post.created}
  #post-body
    :preserve
      #{@post.body}
  #disqus_thread
    %noscript
      %a{ :href => "http://bhuga.disqus.com/?url=http%3A%2F%2Fbhuga.net/#{@post.disqus_identifier}"} View the discussion thread.
    :javascript
      var disqus_title = "#{@post.title}";
      var disqus_identifier = "#{@post.disqus_identifier}"
      var disqus_shortname = 'bhuga'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
